! special
*.foreground:   #201f1c
*.background:   #f7f1e3
*.cursorColor:  #201f1c

*.color0:       #201f1c
*.color1:       #eb7373
*.color2:       #60db77
*.color3:       #f0de73
*.color4:       #70cfc5
*.color5:       #c279d1
*.color6:       #99a9f0
*.color7:       #fff9ec
*.color8:       #425159
*.color9:       #eb7373
*.color10:      #60db77
*.color11:      #f0de73
*.color12:      #70cfc5
*.color13:      #c279d1
*.color14:      #99a9f0
*.color15:      #ffffff


*font: xft:Roboto Mono Nerd Font:size=15

*boldFont:
*lineSpace:             3
*letterSpace:           0
*geometry:              50x20
*internalBorder:        30
*scrollBar:             false


! xft fonts settings
Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.antialias:          1
Xft.rgba:               rgb

URxvt.perl-ext-common: config-reload
